@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
body{
    padding-top: 60px;
}
header{
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    z-index: 99;
}
header .hWrap{
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    background-color: rgba(255,255,255,0.45);
}
header .hWrap .logo img{
    width: 25px;
    margin-top: 20px;
    margin-left: 25px;
}
header .hWrap .language{
    position: absolute;
    top: 20px;
    right: 70px;
    box-sizing: border-box;
    border: 1px solid #111;
    border-radius: 8px;
    background-color: #ffffff55;
}
header .hWrap .language.active{
    background-color: #eee;
}
header .hWrap .language .selected{
    display: flex;
    text-align: center;
    padding: 5px 10px;
    font-size: 12px;
}
header .hWrap .language .selected.active{
    border-bottom: 1px solid #111;
}
header .hWrap .language .lanList{
    display: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
}
header .hWrap .language .lanList li{
    height: 25px;
    line-height: 25px;
    box-sizing: border-box;
}
header .hWrap .language .lanList li:hover{
    color: #888;
}
header .hWrap .language .arrow{
    width: 10px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}
header .hWrap .language .arrow.active{
    transform: rotate(180deg);
}
header .hWrap .language .arrow img{
    width: 100%;
}
header .hWrap .pcgnb{
    display: none;
}
header .hWrap .menu{
    position: absolute;
    top: 18px;
    right: 23px;
}
header .hWrap .menu span{
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin-top: 5px;
    margin-bottom: 5px;
}
header .mognb{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    transition: all 0.5s;
    background-color: #111;
}
header .mognb .gnbWrap{
    width: 100%;
    height: 400px;
    padding-top: 100px;
    padding-left: 50px;
    box-sizing: border-box;
}
header .mognb .gnbWrap .list h3{
    margin-top: 10px;
    width: 50%;
    box-sizing: border-box;
    padding-bottom: 10px;
    color: #eee;
    border-bottom: 1px solid #bbb;
    font-size: 16px;
}
header .mognb .gnbWrap ul{
    display: none;
    color: #ccc;
    font-size: 14px;
}
header .mognb .gnbWrap ul li{
    margin-top: 10px;
}
header .mognb .gnbWrap ul li:hover{
    color: #eee;
}
header .mognb .gnbWrap img{
    width: 40px;
    position: absolute;
    top: 25px;
    right: 20px;
}
.bn{
    max-width: 1920px;
    margin: 0 auto;
}
.bn .mobn{
    width: 100%;
}

section h2{
    font-size: 20px;
    text-align: center;
    padding-top: 100px;
}
.report{
    width: 100%;
    padding-bottom: 100px;
    background: linear-gradient(180deg, rgba(10,38,69,1) 0%, rgba(45,83,125,1) 100%);
    color: #ccc;
}
.report .item{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.report .item .imgSet{
    border: 1px solid #111;
    border-radius: 25px;
    overflow: hidden;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.report .item .imgSet img{
    width: 100%;
    height: 100%;
}
.report .item .txtSet{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.report .item .txtSet h4{
    text-align: center;
    font-size: 18px;
}
.report .item .txtSet p{
    font-size: 14px;
    margin-top: 10px;
    padding: 0 20px;
    text-align: center;
}
section button{
    width: 120px;
    height: 30px;
    background-color: #111;
    border: 0;
    border-radius: 25px;
    color: #ccc;
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}
.base{
    margin-bottom: 100px;
}
.base .txtSet{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 12px;
    padding: 0 20px;
    width: 55%;
}
.base .imgSet{
    width: 60%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
.base .imgSet img{
    width: 100%;
}
.base .txtSet p span{
    font-weight: bold;
}
.base .item{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}
.base .item .imgSet{
    width: 50%;
}
.base .item img{
    width: 100%;
}
.base .item .name{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
.base .item .date{
    font-size: 14px;
    margin-top: 10px;
}
.base .pcItem{
    display: none;
}
.base .pcButton{
    display: none;
}

.gallery{
    width: 100%;
    background-color: #f8f8f8;
    padding-bottom: 100px;
}
.gallery .mainVideo{
    display: none;
}
.gallery .item{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
    width: 360px;
    padding: 0 20px;
}
.gallery .item img{
    width: 100%;
}
.gallery .item .gTxtSet{
    margin-top: 20px;
}
.gallery .item .gTxtSet .mainName{
    font-weight: bold;
    font-size: 18px;
}
.gallery .item .gTxtSet .subName{
    font-size: 14px;
}
.gallery .item .thumb{
    position: relative;
}
.gallery .item .subItem{
    background-color: rgba(18, 18, 18, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.gallery .item .subItem p{
    color: #ccc;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: #ccc;
}

.story .btnSet{
    display: flex;
    justify-content: center;
}
.story .btnSet button{
    margin: 50px 0;
    color: #111;
    background-color: #ccc;
    border-radius: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 30%;
    height: 50px;
    font-weight: bold;
    font-size: 12px;
}
.story .btnSet button.active{
    color: #ccc;
    background-color: #111;
}
.story .con{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.story .answerCon{
    display: none;
}
.story .newsCon{
    display: none;
}
.story .item{
    width: 300px;
    height: 300px;
    background-color: #f8f8f8;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #ffffff00;
    margin: 10px;
}
.story .item:hover{
    border: 1px solid #111;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.075);
}
.story .con .item .infoName{
    font-weight: bold;
    font-size: 12px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: keep-all;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.story .con .item .infoContent{
    font-size: 10px;
    margin-top: 70px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: keep-all;
    padding-left: 20px;
    padding-right: 20px;
}
.story .con .item .infoDate{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 6px;
}
.story .con .item span{
    font-style: italic;
}

footer{
    background-color: #111;
    width: 100%;
    height: 200px;
    margin-top: 100px;
    position: relative;
}
footer .fWrap{
    color: #ccc;
    font-size: 14px;
}
footer .fWrap .fGnb{
    display: flex;
    text-align: center;
}
footer .fWrap .fGnb li{
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}
footer .fWrap .fItem{
    width: 150px;
    height: 25px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    box-sizing: unset;
    margin-left: 10px;
    position: relative;
}
footer .fWrap .fItem .fArrow.active{
    transform: rotate(180deg);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
footer .fWrap .fList{
    display: none;
    color: #111;
    box-sizing: border-box;
    position: absolute;
    bottom: 100%;
    left: 0;
    border: 1px solid #111;
    box-sizing: border-box;
    border-bottom: 0;
    width: 100%;
}
footer .fWrap .fList li{
    height: 40px;
    line-height: 40px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #111;
    padding-left: 20px;
}

.top{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #3c4b89;
    text-align: center;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}
.top img{
    width: 5px;
    margin-top: 3px;
}
.top p{
    font-size: 8px;
    color: #ccc;
    margin-top: -5px;
}
.top a{
    display: block;
    width: 100%;
    height: 100%;
}

body{
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}